<%- include('./partials/head.ejs')  %> 

<div class="bg"></div>

<div class="star-field">
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
</div>


<%- include('./partials/nav.ejs')  %> 

<section class="container mainSection">
    <div class="row">
        <h1>Alien House</h1>
    </div>
</section>

<section class="container">
    <div class="row cardsContainer">
        <div class="card col-md-3">
            <div class="futureImg">
                <p>NFT 1</p>
            </div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card col-md-3">
            <div class="futureImg">
                <p>NFT 2</p>
            </div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card col-md-3">
            <div class="futureImg">
                <p>NFT 3</p>
            </div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</section>

<section class="supplyInfo">
    <div class='row'>
        <div class="col-md-4">
            <p>Supply Info</p>
        </div>
        <div class="col-md-4">
            <p>Release dates</p>
        </div>
        <div class="col-md-4">
            <p>General Data</p>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-md-12 mainSectionCol-1 Galaxy-Store-1-hex animate__animated animate__fadeInLeft">
        <h3>General info</h3>
    </div>
</div>


<%- include('./carrousel.ejs')  %> 

<%- include('./partials/watchVideo.ejs')  %> 

<%- include('./partials/footer.ejs')  %> 
